

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.container{
    width: 400px;

    background-color: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    transition: 0.3s;
}

.container:hover{
    transform: translateY(-4px);
}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 32px;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput{
    flex: 1;
    padding: 12px;

    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;

    transition: 0.3s;
}

#taskInput:focus{
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

#addBtn{
    padding: 12px 18px;

    background-color: rgb(77, 77, 255);
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

#addBtn:hover{
    background-color: #45a049;
    transform: translateY(-2px);
}