

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}


.container{
    width: 400px;

    background-color: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    transition: 0.3s;
}

.container:hover{
    transform: translateY(-4px);
}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 32px;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput{
    flex: 1;
    padding: 12px;

    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;

    transition: 0.3s;
}

#taskInput:focus{
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

#addBtn{
    padding: 12px 18px;

    background-color: rgb(77, 77, 255);
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

#addBtn:hover{
    background-color: #45a049;
    transform: translateY(-2px);
}


h2{
    font-size: 20px;
    color: #444;
    margin-bottom: 15px;
}

#taskList{
    list-style: none;
}


#taskList li{

    background-color: #f8f8f8;

    padding: 14px;

    margin-bottom: 12px;

    border-radius: 8px;

    border-left: 5px solid #4CAF50;

    font-size: 16px;

    transition: 0.3s;

    cursor: pointer;
}

#taskList li:hover{

    background-color: #eeeeee;

    transform: translateX(5px);

}

#taskList li{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f8f9fa;
    padding: 12px 15px;
    margin-bottom: 10px;

    border-radius: 8px;

    transition: all 0.3s ease;
}

#taskList li:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

#taskList button{
    background-color: #e53935;
    color: white;

    border: none;
    padding: 8px 14px;

    border-radius: 6px;

    cursor: pointer;

    transition: all 0.3s ease;
}

#taskList button:hover{
    background-color: #c62828;
    transform: scale(1.05);
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
    background-color: #d4edda !important;
}

#taskCounter{
    margin-bottom: 15px;
    color: #666;
    font-weight: bold;
}

#clearBtn{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    background-color: #ff9800;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

#clearBtn:hover{
    background-color: #f57c00;
}